.headerText {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
}

.headerSubtext {
  text-align: center;
  color: #333;
}

.container {
  margin-bottom: 5rem;
}

.bottom {
  display: grid;
}

.subheader {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 1.75rem;
  color: #333;
  text-align: center;
}

.subsubheader {
  grid-column: 1 / -1;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
}

.bottomItem {
  justify-self: center;
  display: grid;
  align-items: center;
  width: 600px;
  grid-template-columns: auto;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0.5rem;
  border-radius: 1.125rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bottomItemButton {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  border: none;
  background-color: #ffac60;
  border-radius: 1.125rem;
  padding: 0.5rem 1rem;
  transition: all 0.15s ease;

  &:hover {
    background-color: #da9351;
  }
}

.bottomItemLink {
  justify-self: center;
  display: grid;
  align-items: center;
  width: 600px;
  cursor: pointer;
  color: #333;
  grid-template-columns: auto;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0.5rem;
  border-radius: 1.125rem;
  transition: all 0.15s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &:hover {
    color: #333;
    text-decoration: none;
    background-color: #ffac60;
  }
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
}

.points {
  font-size: 1rem;
  font-weight: 500;
}

.bottomHeader {
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0rem 2rem;
}

.bottomQuote {
  color: #333;
  font-style: italic;
  margin-bottom: 1rem;
}

.listItem {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  justify-content: start;
  font-weight: 600;
  margin-bottom: 1rem;
}

.listText {
  margin-top: 0.125rem;
  font-weight: 400;
}

.listLink {
  color: #ffac60;
  text-decoration: underline;

  &:hover,
  &:active {
    color: #da9351;
  }
}

.shareButton {
  font-weight: 700;
  color: #333;
  border: none;
  background-color: #ffac60;
  place-self: center;
  text-align: center;
  width: 300px;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1.125rem;
  transition: all 0.15s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &:hover,
  &:active {
    color: #333;
    text-decoration: none;
    background-color: #da9351;
  }
}
